body {
	background-color: #d18119;
	color: #2f3236;
}
.container {
  display: flex;
  max-width: 1510px;
}
.container-child {
  width: 0%;
  @media only screen 
  and (min-device-width: 321px) {
    width: 5%;
  }
  @media only screen 
    and (min-device-width: 650px) {
      width: 20%;
  }
}
.container-child + .container-child {
  margin-left: 2%;
}
.content {
  color: rgba(255,255,255,0.796);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  max-width: 400px;
  flex-grow: 1;
  background: url('../assets/jamus-mark.svg') no-repeat;
  z-index: 1;
  background-size: 100px;
  background-position-y: 32%;
  background-position-x: 2.5%;
  padding: 10%;
  @media only screen 
    and (min-device-width: 321px) {
      background-position-y: 38%;
    }
  @media only screen 
    and (min-device-width: 650px) {
      background-size: 150px;
      font-size: 1.24em;
    }
  @media only screen 
    and (min-device-width: 900px) {
      background-position-y: 40%;
      background-position-x: 0%;
      background-size: 200px;
      padding: 90px 0px 0 10%;
    }
  @media only screen 
    and (min-device-width: 1520px) {
      background-position-y: 38%;
      background-position-x: 55%;
      background-size: 200px;
      padding: 90px 0px 0 25%;
        }
}
.cols {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 5%;
  @media only screen 
    and (min-device-width: 650px) {
      padding-top: 85px;
  }
}
.main {
  display: flex;
  padding-top: 100px;
  padding-left: 10px;
  @media only screen 
    and (min-device-width: 650px) {
      padding-top: 0;
      align-items: center;
      height: 100vh;
      margin-top: -40%;
  }
  .social {
    cursor: default;
    opacity: 0.25;
    margin: 0;
    padding-top: 10px;
    .item:not(:first-child) {
      padding: 0 0 0 5px;
    }
  }
}